* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
}
body {
    background: url('../Assets/Sakura-Jingu.webp');
    width: auto;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100dvh;
    background: rgba(236, 8, 168, 0.15);
    backdrop-filter: blur(15px);
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.calculator{
    z-index: 2;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(184, 184, 184);
}
form input{
    border: none;
    outline: 0;
    width: 60px;
    height: 60px;
    margin: 2px;
    font-size: 16px;
    background-color: rgb(102, 102, 102);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: bolder;
}

form input[type="button"]:hover {
    background-color: rgb(80, 80, 80);
    
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 5px 0px 20px 0px;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 30px;
    padding: 5px 5px;
    background-color: rgb(112, 112, 112);
}
form input.equal{
    width: 123px;
}